includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - config
        - src
        - tests
    tmpDir: build/phpstan
    # checkOctaneCompatibility: true
    # checkModelProperties: true
    checkMissingIterableValueType: false

